/*
This is a comment in CSS -- just like a block comment in java.
*/

h1 {
color: green;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 10;
  background: #eeeeee;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);

img {
  border: 2px green solid;
  border-radius: 5px;
}

body{
  background-image:url("Pumpkins.jpg");
}


/*
Style options

-Elements or tags - blanket, gets applied to all the things w\that tag Name
-class - when you want to style more than one thing but you want to pick & choose those things
-id -unique things on your page taht should have their own stylesheet
*/

.pstyle {
  color:orange;
}

#sean {
  color:white;
}
